<html>
  <body>
    <p class="date_desc">
      Order totals from {{ start_str }} through {{ end_str }}
    </p>
    <table>
      <thead>
        <tr>
          <th>Person</th>
          <th>Orders</th>
        </tr>
      </thead>
      <tbody>
        {% for (person, count) in totals.iteritems(): %}
        <tr>
          <td><a href="javascript:void(0)" id="{{ person[1] }}">{{ person[0] }}</a></td>
          <td>{{ count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script>
    $(function() {
      console.log("ready");
      $('a').click(function() {
        person_id = $(this).attr("id");
        loc = "./orders/" + person_id;
        {% if start or end %}
          loc += "?";
          {% if start %}loc += "start={{ start }}&";{% endif %}
          {% if end %}loc += "end={{ end }}";{% endif %}
        {% endif %}
        document.location.href = loc;
      });
    });
  </script>
  </body>
</html>
